.box{
    
    background-color: rgb(221, 241, 249);
    border-width: 2px;
    border-style : solid;
    border-color : #292929;
    height : 600px;
    width : 565px;
    margin:auto;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 20px;
    }

    input.form-control-sm {
       
        width: 500px;
        margin-left: 25px;
        margin-right: 15px;
        margin-top: 4px;
    }

    #fdescription{
        width: 500px;
        margin-left: 25px;
        margin-right: 15px;
        margin-top: 4px;
    
    }

    #frole{
        width: 200px;
        margin-left: 600px;
        margin-right: 15px;
        margin-top: 4px;
    
    }
    input.btn {
        margin-top: 40px;
        margin-left: 25px;
        background-color:rgb(86, 84, 84); 
        color: white; 
        width: 100px;
        border-radius: 4px;
    }

    #cancel {
        margin-left: 300px;
        background-color: red;
    }
    label.form-label-name{
        margin-top: 35px;
        margin-left: 10px;
    }
    label.form-label{
         margin-top: 15px;
         margin-left:10px
    }

    #fileUpload {
    
        margin-left: 10px;
    
    }
    

    