input {
    margin-right: 10px;
    margin-left: 10px
}

input.btn {
    margin-top: 3px;
    margin-left: 4px;
    background-color:rgb(86, 84, 84); 
    color: white; 
    width: 120px;
    border-radius: 4px;
}
#propertyAdd{
    margin-top: 3px;
    margin-left: 660px;
    background-color:rgb(86, 84, 84); 
    color: white; 
    width: 120px;
    border-radius: 4px;
}

.logout-btn {
    margin-top: 3px;
    margin-left: 350px;
    background-color:rgb(255, 255, 255); 
    color: rgb(247, 29, 29); 
    font-weight: 500;
    width: 80px;
    float: right;
    order: 3;
    border-radius: 4px; 
}

.btn-right {
    margin-top: 3px;
    margin-left: auto;
    border-radius: 8px;
    background-color:rgb(34, 35, 35); 
    color: rgb(255, 255, 255); 
    width: 150px;
    float: right;
    order: 2;
}

.btn2-right {
    margin-top: 9px;
    margin-left: 30px;
    border-radius: 4px;
    background-color:rgb(34, 35, 35); 
    color: rgb(255, 255, 255); 
    width: 140px;
    height: 33px;
    float: right;
    order: 2;
}
.btn-right-display {
    display: none;
}

.card {
    background-color: rgb(221, 241, 249);
    height : 500px;
}

p{
    margin-top: 10px;
}
#list-group-item{
    margin-top: 3px;
}

