<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/user.css">
    <title>User</title>
</head>

<body>
    <header id="mainheader" class = "bg-info text-black p-3 mb-3">
        <div class="container">
            <div class="row">
              <h2 id="header-title">DreamHome Realty</h2>
              <input type="submit" id="propertyAdd" class="btn" value="Add Property">
            </div>
        </div>
    </header>

    <div class="container">
        <div id="main" class="card card-body">
           <form action="#">
            

            <input type="submit" id="propertyList" class="btn" value="Property List"> 
            <div class ="List">
                <p id="paraList"></p>
            </div>
            </form>
        </div>
    </div>
    
      <script src ="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
      <script src="../public/js/user.js"></script>
</body>

</html>